DB_NAME=<your_database_name>
DB_USERNAME=<your_database_username>
DB_PASSWORD=<your_database_password>
DB_HOST=<your_database_host>
DB_PORT=<your_database_port>
DB_POOL=<your_database_pool_size>
CROW_PORT=<your_crow_port>
SPRING_URL=<your_spring_url>